.header__link {
  /*width: 22px;*/
  /*height: 19px;*/
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
