.profile__feature {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .profile__feature {
    font-size: 15px;
    line-height: 17px;
    padding-top: 0;
    text-align: center;
    max-width: 215px;
  }
}

@media screen and (max-width: 768px) {
  .profile__feature {
    font-size: 12px;
    max-width: 155px;
  }
}

@media screen and (max-width: 425px) {
  .profile__feature {
    font-size: 14px;
    max-width: 215px;
  }
}
