.popup__close-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -36px;
  top: -42px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .popup__close-icon {
    right: 0;
  }
}

@media screen and (max-width: 425px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -35px;
    padding: 0;
  }
}
