.auth__second-link {
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-decoration: none;
}
