.elements__button-like {
  width: 22px;
  height: 19px;
  border: none;
  outline: none;
  cursor: pointer;
  background: white url(../../../images/Vector.svg) no-repeat;
  padding: 0;
  object-fit: contain;
}

.elements__button-like:hover {
  opacity: 0.5;
}

@media screen and (max-width: 425px) {
  .elements__button-like {
    padding: 0 27px 0 0;
  }
}
